<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Body_Factory_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Body_Factory_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Body_Factory_Manager.Properties.Settings.LocalDB"
            connectionString="Server=(localdb)\v11.0;Integrated Security=true;AttachDbFileName=C:\Program Files\StardustEssentials.mdf;" />
        <add name="Body_Factory_Manager.Properties.Settings.ExternalDatabase"
            connectionString="Data Source=sql.bsite.net\MSSQL2016;Initial Catalog=alexjhoel_StardustEssentials;Persist Security Info=True;User ID=alexjhoel_StardustEssentials;Password=21082004;Pooling=False" />
    </connectionStrings>
    <applicationSettings>
        <Body_Factory_Manager.Properties.Settings>
            <setting name="CorreoRecover" serializeAs="String">
                <value>stardustessentials@outlook.com</value>
            </setting>
            <setting name="PasswordRecover" serializeAs="String">
                <value>21082004leo</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value>#bSEJNDMW3y%3lP4</value>
            </setting>
        </Body_Factory_Manager.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <Body_Factory_Manager.Properties.Settings>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=localhost;Initial Catalog=StardustEssentials;Persist Security Info=True;User ID=stardust;Password=admin;Pooling=False</value>
            </setting>
            <setting name="a" serializeAs="String">
                <value />
            </setting>
        </Body_Factory_Manager.Properties.Settings>
    </userSettings>
</configuration>
