USE [master]
GO
/****** Object:  Database [StardustEssentials]    Script Date: 21/11/2022 20:15:51 ******/
CREATE DATABASE [StardustEssentials]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StardustEssentials', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PRUEBASQL\MSSQL\DATA\StardustEssentials.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StardustEssentials_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PRUEBASQL\MSSQL\DATA\StardustEssentials_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StardustEssentials].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StardustEssentials]
GO
/****** Object:  User [propietario]    Script Date: 21/11/2022 20:15:52 ******/
CREATE USER [propietario] FOR LOGIN [propietario] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [funcionario]    Script Date: 21/11/2022 20:15:52 ******/
CREATE USER [funcionario] FOR LOGIN [funcionario] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 21/11/2022 20:15:52 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[Asistencias]    Script Date: 21/11/2022 20:15:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistencias](
	[cedulaCliente] [varchar](8) NOT NULL,
	[fecha] [date] NOT NULL,
	[falta] [bit] NOT NULL,
	[observacion] [varchar](200) NOT NULL,
	[idUsuario] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cedulaCliente] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 21/11/2022 20:15:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[cedula] [varchar](8) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[fechaNacimiento] [date] NULL,
	[telefono] [varchar](9) NULL,
	[correo] [varchar](100) NULL,
	[foto] [varbinary](max) NULL,
	[patologias] [varchar](100) NULL,
	[grupoSanguineo] [varchar](3) NULL,
	[observaciones] [varchar](200) NULL,
	[direccion] [varchar](50) NULL,
	[fechaIngreso] [date] NULL,
	[esActivo] [bit] NULL,
	[esOculto] [bit] NOT NULL,
	[idUsuario] [varchar](50) NULL,
	[telefonoSalud] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Descuentos]    Script Date: 21/11/2022 20:15:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Descuentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[porcentaje] [tinyint] NOT NULL,
	[esPersonalizado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ejercicios]    Script Date: 21/11/2022 20:15:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejercicios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
	[musculo] [varchar](20) NULL,
	[descripcion] [varchar](200) NULL,
	[imagen] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntradasSalidas]    Script Date: 21/11/2022 20:15:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntradasSalidas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idReal]  AS ('A'+CONVERT([varchar](16),[id])),
	[motivo] [varchar](200) NULL,
	[fecha] [date] NULL,
	[responsable] [varchar](500) NULL,
	[monto] [decimal](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mensualidades]    Script Date: 21/11/2022 20:15:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensualidades](
	[valor] [decimal](6, 2) NOT NULL,
	[descuento] [decimal](6, 2) NOT NULL,
	[vencimiento] [date] NULL,
	[cedulaCliente] [varchar](8) NOT NULL,
	[mes] [varchar](2) NOT NULL,
	[anio] [varchar](4) NOT NULL,
	[fechaIngreso] [datetime] NULL,
 CONSTRAINT [PK_Mensualidades] PRIMARY KEY CLUSTERED 
(
	[cedulaCliente] ASC,
	[mes] ASC,
	[anio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 21/11/2022 20:15:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[monto] [decimal](6, 2) NULL,
	[fecha] [date] NULL,
	[hora] [varchar](5) NULL,
	[cedulaCliente] [varchar](8) NULL,
	[mesMensualidad] [varchar](2) NOT NULL,
	[anioMensualidad] [varchar](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prefijadas]    Script Date: 21/11/2022 20:15:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prefijadas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[valor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/11/2022 20:15:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [varchar](50) NOT NULL,
	[contrasena] [varbinary](8000) NOT NULL,
	[correoElectronico] [varchar](50) NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [nvarchar](50) NULL,
	[privilegio] [varchar](20) NOT NULL,
	[foto] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Asistencias] ([cedulaCliente], [fecha], [falta], [observacion], [idUsuario]) VALUES (N'13505700', CAST(N'2021-01-18' AS Date), 0, N'purus sapien,', NULL)
INSERT [dbo].[Asistencias] ([cedulaCliente], [fecha], [falta], [observacion], [idUsuario]) VALUES (N'13505700', CAST(N'2021-02-02' AS Date), 0, N'neque non quam. Pellentesque', NULL)
INSERT [dbo].[Asistencias] ([cedulaCliente], [fecha], [falta], [observacion], [idUsuario]) VALUES (N'13505700', CAST(N'2021-03-22' AS Date), 0, N'magnis dis parturient', NULL)
GO
SET IDENTITY_INSERT [dbo].[Descuentos] ON 

INSERT [dbo].[Descuentos] ([id], [nombre], [porcentaje], [esPersonalizado]) VALUES (1, N'Adulto mayor', 40, 0)
INSERT [dbo].[Descuentos] ([id], [nombre], [porcentaje], [esPersonalizado]) VALUES (2, N'Concurso', 50, 0)
INSERT [dbo].[Descuentos] ([id], [nombre], [porcentaje], [esPersonalizado]) VALUES (3, N'n', 15, 0)
SET IDENTITY_INSERT [dbo].[Descuentos] OFF
GO
SET IDENTITY_INSERT [dbo].[EntradasSalidas] ON 

INSERT [dbo].[EntradasSalidas] ([id], [motivo], [fecha], [responsable], [monto]) VALUES (108, N'Suplementos', CAST(N'2021-04-11' AS Date), N'non', CAST(799.00 AS Decimal(6, 2)))
INSERT [dbo].[EntradasSalidas] ([id], [motivo], [fecha], [responsable], [monto]) VALUES (109, N'Nada', CAST(N'2022-02-05' AS Date), N'neque.', CAST(-4803.00 AS Decimal(6, 2)))
INSERT [dbo].[EntradasSalidas] ([id], [motivo], [fecha], [responsable], [monto]) VALUES (110, N'Vacío', CAST(N'2022-11-08' AS Date), N'nulla. Integer', CAST(5854.00 AS Decimal(6, 2)))
GO
SET IDENTITY_INSERT [dbo].[EntradasSalidas] OFF
GO
INSERT [dbo].[Mensualidades] ([valor], [descuento], [vencimiento], [cedulaCliente], [mes], [anio], [fechaIngreso]) VALUES (CAST(1000.00 AS Decimal(6, 2)), CAST(0.00 AS Decimal(6, 2)), CAST(N'2023-02-19' AS Date), N'13505700', N'1', N'2023', CAST(N'2023-01-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Mensualidades] ([valor], [descuento], [vencimiento], [cedulaCliente], [mes], [anio], [fechaIngreso]) VALUES (CAST(1000.00 AS Decimal(6, 2)), CAST(0.00 AS Decimal(6, 2)), CAST(N'2023-11-19' AS Date), N'13505700', N'10', N'2023', CAST(N'2023-10-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Mensualidades] ([valor], [descuento], [vencimiento], [cedulaCliente], [mes], [anio], [fechaIngreso]) VALUES (CAST(1000.00 AS Decimal(6, 2)), CAST(0.00 AS Decimal(6, 2)), CAST(N'2022-12-19' AS Date), N'13505700', N'11', N'2022', CAST(N'2022-11-19T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Pagos] ON 

INSERT [dbo].[Pagos] ([Id], [monto], [fecha], [hora], [cedulaCliente], [mesMensualidad], [anioMensualidad]) VALUES (11078, CAST(1000.00 AS Decimal(6, 2)), CAST(N'2022-11-13' AS Date), NULL, N'16519536', N'1', N'2022')
INSERT [dbo].[Pagos] ([Id], [monto], [fecha], [hora], [cedulaCliente], [mesMensualidad], [anioMensualidad]) VALUES (11079, CAST(880.00 AS Decimal(6, 2)), CAST(N'2022-11-13' AS Date), NULL, N'16519536', N'2', N'2022')
INSERT [dbo].[Pagos] ([Id], [monto], [fecha], [hora], [cedulaCliente], [mesMensualidad], [anioMensualidad]) VALUES (11080, CAST(1000.00 AS Decimal(6, 2)), CAST(N'2022-11-13' AS Date), NULL, N'16423997', N'1', N'2022')
SET IDENTITY_INSERT [dbo].[Pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[Prefijadas] ON 

INSERT [dbo].[Prefijadas] ([id], [nombre], [valor]) VALUES (1, N'Común', 1000)
INSERT [dbo].[Prefijadas] ([id], [nombre], [valor]) VALUES (2, N'VIP', 2000)
INSERT [dbo].[Prefijadas] ([id], [nombre], [valor]) VALUES (3, N'Perfil', 1500)
SET IDENTITY_INSERT [dbo].[Prefijadas] OFF
GO
INSERT [dbo].[Usuarios] ([id], [contrasena], [correoElectronico], [nombre], [apellido], [privilegio], [foto]) VALUES (N'pepe', 0x020000006EC0CCB618A07873EBA316E0E2698EE5E02A2500FCB2F1FDBE064D67501FFCB8, N'', N'José', N'Gutierrez', N'Propietario', NULL)
GO
ALTER TABLE [dbo].[Asistencias] ADD  DEFAULT ((0)) FOR [falta]
GO
ALTER TABLE [dbo].[Asistencias] ADD  DEFAULT ('') FOR [observacion]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [esActivo]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((0)) FOR [esOculto]
GO
ALTER TABLE [dbo].[Descuentos] ADD  DEFAULT ('n/a') FOR [nombre]
GO
ALTER TABLE [dbo].[Descuentos] ADD  DEFAULT ((1)) FOR [porcentaje]
GO
ALTER TABLE [dbo].[Descuentos] ADD  DEFAULT ((0)) FOR [esPersonalizado]
GO
ALTER TABLE [dbo].[EntradasSalidas] ADD  DEFAULT ((0)) FOR [monto]
GO
ALTER TABLE [dbo].[Mensualidades] ADD  DEFAULT ((1000)) FOR [valor]
GO
ALTER TABLE [dbo].[Mensualidades] ADD  DEFAULT ((0)) FOR [descuento]
GO
ALTER TABLE [dbo].[Prefijadas] ADD  DEFAULT ('Sin nombre') FOR [nombre]
GO
ALTER TABLE [dbo].[Prefijadas] ADD  DEFAULT ((1000)) FOR [valor]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('Usuario') FOR [privilegio]
GO
ALTER TABLE [dbo].[Asistencias]  WITH CHECK ADD  CONSTRAINT [FK_Asistencias_Clientes] FOREIGN KEY([cedulaCliente])
REFERENCES [dbo].[Clientes] ([cedula])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Asistencias] CHECK CONSTRAINT [FK_Asistencias_Clientes]
GO
ALTER TABLE [dbo].[Asistencias]  WITH CHECK ADD  CONSTRAINT [FK_Entradas_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Asistencias] CHECK CONSTRAINT [FK_Entradas_Usuarios]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Usuarios]
GO
ALTER TABLE [dbo].[Mensualidades]  WITH CHECK ADD  CONSTRAINT [FK_Mensualidades_Clientes] FOREIGN KEY([cedulaCliente])
REFERENCES [dbo].[Clientes] ([cedula])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mensualidades] CHECK CONSTRAINT [FK_Mensualidades_Clientes]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Mensualidades_1] FOREIGN KEY([cedulaCliente], [mesMensualidad], [anioMensualidad])
REFERENCES [dbo].[Mensualidades] ([cedulaCliente], [mes], [anio])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Mensualidades_1]
GO
/****** Object:  StoredProcedure [dbo].[ComprobarMensualidades]    Script Date: 21/11/2022 20:15:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ComprobarMensualidades]
	@c varchar(8)
As
	DECLARE @ultimaMensualidad  TABLE (cedulaCliente varchar(8),  mesAnio DATE);
	INSERT INTO @ultimaMensualidad
	select cedulaCliente, MAX(CONVERT(DATE, CONCAT('01/', mes, '/', anio), 103))  from Mensualidades where cedulaCliente=@c group by cedulaCliente;
	DECLARE @mes VARCHAR(2) = (SELECT MONTH(mesAnio) FROM @ultimaMensualidad);
	DECLARE @anio VARCHAR(4) = (SELECT YEAR(mesAnio) FROM @ultimaMensualidad);
	DECLARE @mesAnioActualizado DATE = DATEADD(MONTH, 1, CONVERT(date, CONCAT('01/', @mes, '/', @anio), 103));
	IF (SELECT esActivo FROM Clientes WHERE cedula=@c) = 1 AND (SELECT SUM(monto) FROM Pagos WHERE cedulaCliente = @c AND mesMensualidad = @mes AND anioMensualidad=@anio)
	>= (SELECT valor - (valor * (descuento / 100)) FROM Mensualidades WHERE cedulaCliente = @c AND mes = @mes AND anio=@anio)
		BEGIN
		IF((SELECT vencimiento FROM Mensualidades WHERE cedulaCliente = @c AND mes = @mes AND anio=@anio) IS NULL)
		BEGIN
		INSERT INTO Mensualidades (fechaIngreso, valor, descuento, vencimiento, cedulaCliente, mes, anio) VALUES(
			
			(DATEADD(MONTH, 1, (SELECT fechaIngreso FROM Mensualidades where cedulaCliente = @c AND mes = @mes AND anio=@anio) )),
			(SELECT valor FROM Mensualidades where cedulaCliente = @c AND mes = @mes AND anio=@anio),
			0,
			(DATEADD(MONTH, 1, (SELECT fechaIngreso FROM Mensualidades where cedulaCliente = @c AND mes = @mes AND anio=@anio) )),
			@c,
			MONTH(@mesAnioActualizado),
			YEAR(@mesAnioActualizado)
		)
		END
		ELSE
		BEGIN
		INSERT INTO Mensualidades (fechaIngreso, valor, descuento, vencimiento, cedulaCliente, mes, anio) VALUES(

			(DATEADD(MONTH, 1, (SELECT fechaIngreso FROM Mensualidades where cedulaCliente = @c AND mes = @mes AND anio=@anio) )),
			(SELECT valor FROM Mensualidades where cedulaCliente = @c AND mes = @mes AND anio=@anio),
			0,
			(DATEADD(MONTH, 1, (SELECT vencimiento FROM Mensualidades where cedulaCliente = @c AND mes = @mes AND anio=@anio) )),
			@c,
			MONTH(@mesAnioActualizado),
			YEAR(@mesAnioActualizado)
		)
		END
	END
		
RETURN 0
GO
USE [master]
GO
